nav(class="nav")
  a(class="nav-link" aria-current="page" href="/chat") Inicio
  a(class="nav-link" aria-current="page" href="/api/productos-test") Productos
  a(class="nav-link" aria-current="page" href="/info") Info
  a(class="nav-link" aria-current="page" href="/api/randoms/") Random