div
        div(class="col-auto")
            -var saludo = "Bienvenido "+ user 
            h2= saludo
        div(class="col-auto")
            button(class="btn btn-primary mb-3" onclick= "location.href='/logout'") Logout

