doctype html

html(style={margin: '5%'})
    include ../partials/head.pug
    body
        section(class="container-fluid")
            div(class="row col-4" style='background-color:#f4f4f4; padding: 5%;')
                h1 El usuario ya se encuentra registrado
                   

                br
                button(class="btn btn-primary mb-3" onclick= "location.href='/login'") Volver